/* Google Font 'Poppins'  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #131312;
    font-family: 'Poppins' , sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 85%;
    height: 95%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

header .menu_side, .song_side {
    position: relative;
    width: 25%;
    height: 90%;
    /* border: 1px solid #fff; */
    background-color: #111727;
    box-shadow: 5px 0px 2px #090f1f;
    color: #fff;
}

.song_side {
    width: 75%;
    background: #0b1320;
}

 .master_play {
    width: 100%;
    height: 10%;
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f;
}
.menu_side{
    display: flex;
}
 .menu_side span {
    font-size: 20px;
    margin: 15px 10px 0px 20px;
    font-weight: 500;
}
span#melody{
    margin-left: 35px;
   position: absolute;
   margin-top: 21.5px;
}
.user{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    /* margin-top: 15px; */
    /* margin-left: 110px; */
 }
.user img{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #131312;
    margin-top: 20px;
 }

#poster_master_play{
    /* margin-top: px; */
    margin-left: 25px;
    width: 210px;
    height: 210px;
    overflow: hidden;
    border-radius: 80%;  
}


header .master_play {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
header  img {
    width: 35px;
    height: 35px;
}
.head_img{
   width: 100%;
   height: 110%;
}
#title {
    width: 150px;
    font-size: 17px;
    margin-bottom: 40px;
    margin-left: 85px;
    padding-top: 5%;
    margin-top: 50px;
    /* margin-bottom: 20px; */
    color: rgb(202, 193, 193);
    line-height: 15px;
    padding-top: 0px;
    font-family: quincy;
    font-weight: bolder;
    
}
#subtitle{
   font-size: 15px;
   color: #9ea7c0;
   padding-top: 5%;
   padding-bottom: 5%;
   margin-top: 10px;
   margin-left: 85px;
   font-family: quincy;
}
header  .icon{
   font-size: 20px;
   color: #fff;
   margin: 20px 0px 10px 85px;
   outline: none;
   /* margin-left: 80px; */

}
header  .icon .bi{
 cursor: pointer;
 outline: none; 
 }
header  .icon .bi:nth-child(2){
border: 1px solid rgb(105, 105, 170,.1);
border-radius: 50%;
padding: 4px 8px 2px 10px;
margin: 0px 5px;
transition: .3s linear;
}

header .master_play span {
    color: #fff;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
}
header .master_play #currentStart{
    margin: 0px 0px 0px 20px;
}

header .master_play .bar {
    position: relative;
    width: 100%;
    height: 2px;
    background: rgb(105, 105, 170,.1);
    margin: 0px 15px 0px 10px;
}
header .master_play .bar .bar2{
   position: absolute;
   background: #36e2ec;
   width: 0%;
   height: 100%;
   top: 0;
   transition: 1s linear;
}
header .master_play .bar .dot{
   position: absolute;
   width: 5px;
   height: 5px;
   background: #36e2ec;
   border-radius: 50%;
   left: 0%;
   top: -1px;
   transition: 1s linear;
}
header .master_play .bar .dot::before{
    content: '';
   position: absolute;
   width: 15px;
   height: 15px;
   border:1px solid #36e2ec;
   border-radius: 50%;
   left: -6px;
   top: -6px;
  box-shadow: inset 0px 0px 3px #36e2ec;
}
header .master_play .bar input{
   position: absolute;
   width: 100%;
   top: -6px;
   left: 0;
   cursor: pointer;
   z-index: 99999999;
   transition: 3s linear;
   /* transition: 0.000000000000001s linear; */
   opacity: 0;
}
header .master_play .vol{
  position: relative;
  width: 100px;
  height: 2px;
  margin-left: 50px;
 background: rgb(105, 105, 170,.1); 
}
header .master_play .vol .bi{
position: absolute;
color: #fff;
font-size: 25px;
top: -17px;
left: -30px;
}
header .master_play .vol input{
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    /* transition:  0.000000000000001s linear; */
    opacity: 0;
 }

 header .master_play .vol .vol_bar{
    position: absolute;
    background: #36e2ec;
    width: 100%;
    height: 100%;
    top: 0;
    transition: 1s linear;
 }
 header .master_play .vol .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 100%;
    top: -1px;
    transition: 1s linear;
 }
 header .master_play .vol .dot::before{
     content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border:1px solid #36e2ec;
    border-radius: 50%;
    left: -6px;
    top: -6px;
   box-shadow: inset 0px 0px 3px #36e2ec;
 }

 header .song_side {
     z-index: 2;
 }
 header .song_side::before{
     content: '';
     position: absolute;
     width: 100%;
     height: 300px;
     
     z-index: -1;
 }
 header .song_side nav{
    width: 90%;
    height: 10%;
    margin: auto;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 header .song_side nav ul{
    display: flex;
 }
 header .song_side nav ul li , a ,button{
    position: relative;
    list-style-type: none;
    font-size: 13px;
    color: #4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
 }
 header .song_side nav ul li:hover,a:hover,button:hover{
   color: #fff;
 }
 header .song_side nav ul li:nth-child(1){
   color: #fff;
 }
 header .song_side nav ul li span{
   position: absolute;
   width: 100%;
   height: 2.5px;
   background: #36e2ec;
   bottom: -5px;
   left: 0;
   border-radius: 20px;
 }

 header .song_side nav .search{
   position: absolute;
   width: fit-content;
   padding: 1px 10px;
   border-radius: 20px;
   color: gray;

   margin-bottom: 3.4%;
   margin-left: 20%;

 }


 header .song_side nav .search .bi{
    font-size: 13px;
    padding: 3px 0px 0px 10px;
 }
 header .song_side nav .search input{
    background: none;
    outline: none;
    border: none;
    padding: 0px 10px;
    color: #fff;
    font-size: 12px;
 }



 header .song_side .content {
     width:90%;
     height: 30%;
     margin: auto;
     background-image: url(galbanjae.png);
     /* border: 1px solid #fff; */
     padding-top: 20px;
 }

 .search-input{
   position: fixed;
   border-radius: 20px;
   background: rgb(184, 184, 184,.1);
   margin-bottom: 20px;
 }

 
.home{
   color: #0b1320;
}
 header .song_side .content h1{
    font-size: 25px;
    font-weight: 600;
 }
 header .song_side .content p{
    font-size: 11px;
    font-weight: 400;
    color: #4c5262;
    margin: 5px;
 }
 header .song_side .content .buttons{
    margin-top: 15px;
 }
 header .song_side .content .buttons button{
    width: 130px;
    height: 30px;
    border: 2px solid #36e2ec;
    outline: none;
    border-radius: 20px;
    background: #5adae0;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
 }
 header .song_side .content .buttons button:hover{
    border: 2px solid #36e2ec;
    background: none;
    color: #36e2ec;
 }
 header .song_side .content .buttons button:nth-child(2){
    border: 2px solid #36e2ec;
    background: none;
    color: #36e2ec;
 }
 header .song_side .content .buttons button:nth-child(2):hover{
    border: 2px solid #36e2ec;
    background: #36e2ec;
    color: #fff;
 }

 header .song_side .popular_song {
     width: 90%;
     height: auto;
     /* border: 1px solid #fff; */
     margin: auto;
     margin-top: 15px;
 }
 header .song_side .popular_song .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 header .song_side .popular_song .h4 .bi{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
 }
 header .song_side .popular_song .h4 .bi:hover{
    color: #fff;
 }

 header .song_side .popular_song .pop_song {
     width: 100%;
     height: 120px;
     margin-top: 15px;
     display: flex;
     overflow-x: auto;
     scroll-behavior: smooth;
 }
 header .song_side .popular_song .pop_song::-webkit-scrollbar{
     display: none;
 }
 header .song_side .popular_song .pop_song li{
     min-width: 100px;
     height: 120px;
     list-style-type: none;
     margin-right: 10px;
     transition: .3s linear;
 }
 header .song_side .popular_song .pop_song li:hover{
     background: rgb(105, 105, 170,.1);
 }
 header .song_side .popular_song .pop_song li .img_play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 header .song_side .popular_song .pop_song li .img_play img{
   width: 100%;
   height: 100%;
 }
 header .song_side .popular_song .pop_song li .img_play .bi{
   position: absolute;
   font-size: 20px;
   cursor: pointer;
   transition: .3s linear;
   opacity: 0;
 }
 header .song_side .popular_song .pop_song li .img_play:hover .bi{
   opacity: 1;
 }
 header .song_side .popular_song .pop_song li h5{
   padding: 5px 0px 0px 5px;
   line-height: 15px;
   font-size: 10px;
   text-align: center;
 }
 header .song_side .popular_song .pop_song li h5 .subtitle{
   font-size: 9px;
   color: #4c5262;
 }

 header .song_side .popular_artists {
    width: 90%;
    height: 130px;
    /* border: 1px solid #fff; */
    margin: auto;
    margin-top: 15px;
}
header .song_side .popular_artists .h4{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
header .song_side .popular_artists .h4 .bi{
   color: #a4a8b4;
   cursor: pointer;
   transition: .3s linear;
}
header .song_side .popular_artists .h4 .bi:hover{
   color: #fff;
}
header .song_side .popular_artists .item{
  width: 100%;
  height: 100px;
  margin-top: 10px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}
header .song_side .popular_artists .item::-webkit-scrollbar{
  display: none;
}
header .song_side .popular_artists .item li{
 list-style-type: none;
 position: relative;
 min-width: 80px;
 height: 90px;
 /* background-color: #fff; */
 border-radius: 50%;
 margin-right: 20px;
 cursor: pointer;
}
header .song_side .popular_artists .item li img{
 width: 100%;
 height: 100%;
 /* border-radius: 50%; */
 position: absolute;
}
.content{
    text-align: center;
}
.buttons{
    text-align: left;
}
.rotate {
   animation: rotation 8s infinite linear;
}
@keyframes rotation {
   from {
       transform: rotate(0deg);
   }
   to {
       transform: rotate(359deg);
   }
}


.card {
  overflow: visible;
  width: 85px;
  height: 90px;
}

.cardcontent {
  width: 85px;
  height: 90px;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}
.card:hover .cardcontent {
  transform: rotateY(180deg);
  /* transform: none; */
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}
.front, .behind {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
} 
.behind {
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.behind::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 80px;
  height: 160%;
}

.behindcontent {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.front {
  transform: rotateY(180deg);
  color: white;
  text-align: center;
}
.title {
  font-size: 12px;
  max-width: 100%;
  padding: 2px;
  display: flex;
  margin-top: 11px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  font-family: Georgia;
  transition: 0.005s;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 26, 26, 0.8);
  margin-bottom: 20px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: 0.002s;
}
.front {
 background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
 border-radius: 20px;
 transition: all .3s;
}

.behind {
 background-color: #1a1a1a;
 transition: all .2s;
}

.behind:hover {
 transform: scale(0.98);
 border-radius: 20px;
}

.front:hover {
 box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.autocom-box{
   padding-left: 32px;
   flex-direction: column;
}

.search-input.active .autocom-box li{
   display: block;
 }
 .autocom-box li:hover{
   background: #a99999;
 }


.hide_song{
display: none;
}
#pay_form{
   margin-left: 100%;
}

#viewlink{
   display: none;
}
#librarylink{
   display: block;
}

button {
   padding-top: 2%;
   padding-bottom: 2%;
   background-color: #0b1320;
   border: none;
   border-radius: 45px;
   transition: all 0.3s ease 0s;
 }
 
 button:hover {
   background-color:#142b4f;
   box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
   transform: translateY(-7px);
 }
 
 button:active {
   transform: translateY(-1px);
 }

 
 .loginbtn{
   margin-left: 200px;
   /* margin-right: 200px; */
   background-color: #111727;
   border-radius: 5px;
   color: #fff;
   cursor: pointer;
   transition: .3s linear;
   font-size: 13px;
}

.popup{
 position: absolute;
 top: -150%;
 left: 49%;
 height: 430px;
 width: 330px;
 opacity: 0;
 background: linear-gradient(42deg, rgb(81, 28, 180) 0%, rgb(142, 97, 202) 100%);
 box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
 border-radius: 10px;
 transition: top 0ms ease-in-out 200ms,
 opacity 200ms ease-in-out 0ms,
 transform 200ms ease-in-out 0ms;
 z-index: 1;
 transform: translate(-50%,-50%) scale(1.25);
}
.popup.active{
 top: 50%;
 opacity:1;
 transition: top 0ms ease-in-out 0ms,
 opacity 200ms ease-in-out 0ms,
 transform 200ms ease-in-out 0ms;
 transform: translate(-50%,-50%) scale(1);

}

.closebtn{
 position: absolute;
 width: 20px;
 height: 20px;
 color: white;
 cursor: pointer;
 padding-left: 306px;
 padding-top: 4px;
}


.form a:hover {
 color: #fff;
}
.form.tabs *{
 transition: .2s ease-in-out;
 overflow: hidden;
}
.form .tabs h3 {
 text-align: center;
 padding-top: 30px;
 font-weight: 300;
 font-family:Georgia, 'Times New Roman', Times, serif;
 font-style: italic;
 float: left;
 width: 50%;
}
.form .tabs h3 a.active {
 color: #fff !important;
}
h3 a {
 color: rgb(205, 175, 223);
 text-decoration: none;
}

.form .tabs-content {
 padding: 1.5em 3em;
 padding-top: 100px;
 
}
.form.tabs-content div[id$="tab-content"] {
 display: none;
}
.form.tabs-content .active {
 display: block !important;
}

.form form .input {
 margin: 0 0 .8em 0;
 padding: .8em 2em 10px 0;
 width: 100%;
 background: transparent;
 border: 0;
 border-bottom: 1px solid #2c3a55;
 outline: 0;
 color: #fff;
}

.form form .button {
 margin: 1em 0;
 padding: .2em 3em;
 border: none;
 color: #fff;
 cursor: pointer;
 border-radius: 30px;
 background: linear-gradient(180deg, rgba(105,221,201,1) 0%, rgba(78,193,182,1) 100%);
 height: 28px;
 margin-left: 60px;
}

#signup-tab-content{
 display: none;
}
::placeholder{
 color: #f3edf3;
}

.pop1.show {
 display: block;
}
.pop1 {
 display: none;
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 padding: 10px;
 background-color: #fff;
 border: 1px solid #ccc;
 box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
#loggedInButton{
   display: none;
   position: absolute;
   margin-left: 50%;
}
.loggedin{
   margin-left: 25px;
   margin-right: 100px;
   background-color: #111727;
   border-radius: 5px;
   color: #0ab126;
   cursor: pointer;
   transition: .3s linear;
   font-size: 13px;
}

.loggedin .tick {
   margin-right: 5px;
   color: #0ab126;
}
#logoutbtn{
   display: none;
   position: relative;
   margin-right: -44%;
}
.logout{

   display: none;
   justify-items: center;
   justify-content: center;
   align-items: center;
   transition: 0.3s;
   cursor: pointer;
   margin-right: 30px;
  
}

.right {
   transform: rotate(-45deg);
}

.logout:hover {
   width: 100px;
 }
 
 .logout:hover .arrow {
   display: none;
 }
 .logout .text {
   display: none;
 }
 .logout:hover .text {
   display: flex;
   font-size: 16px;
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-weight: 300;
   color: white;
   animation: anima 0.01s ease;

}
#password-note{
   color: rgb(223, 83, 83);
   font-size: 10px;
   font-family:Georgia, 'Times New Roman', Times, serif;
   display: none;

}
